doctype html
html
  body
    a(href="/chefydata") All data
    hr
    form(method="POST")
      | name:
      input(type='text', name='name')
      br
      | about:
      input(type='text', name='about')
      br
      | type:
      input(type='text', name='type')
      br
      | categories:
      input(type='text', name='categories')
      br
      | address:
      input(type='text', name='address')
      br
      | email:
      input(type='text', name='email')
      br
      | country:
      input(type='text', name='country')
      br
      | contactUser:
      input(type='text', name='contactUser')
      br
      | logo:
      input(type='text', name='logo')
      br
      br
      #products
        | Product1:
        input(type='hidden', name='productTitle[]' value='product1')
        input(type='text', placeholder='Product Name', name='productName[]')
        table#addedRows0(border="1")
          tbody
            tr
              th
                input(type='text', name='attributeName[0]' placeholder='Attribute Title')
            tr
              td
                input(type='text', name='attributeValue[0][0]' placeholder='Attribute Value')
        button#addColumn(type='button' productId="0") Click to add Column
        button#addRow(type='button' productId="0") Click to add Rows
        br
      #newProducts
      br
      button#addTable(type="button") Click to add product
      br
      input(type="submit" value="submit")
    
    // jQuery 2.1.4
    script(src='../public/plugins/jQuery/jQuery-2.1.4.min.js')
    script.
      $(function(){
        var count = 1, productCount = 1;
        //button clicks for the first product
        $('button#addColumn').click(function(){
          var productId = $(this).attr('productId');
          $('#addedRows'+productId+' tr:first').append('<th><input type="text" name="attributeName[0]" placeholder="Attribute Title"></th>');
          $('#addedRows'+productId+' tr:not(:first-child)').append('<td><input type="text" name="attributeValue[0]['+count+']" placeholder="Attribute Value"></td>');
          count++;
        });
        $('button#addRow').click(function(){
          var productId = $(this).attr('productId');
          $('#addedRows'+productId+' tr:first').next('tr').clone().appendTo('#addedRows'+productId+' tbody');
        });
        
        //button clicks for the next products
        $("button#addTable").click(function(){
          var thisAttributeCount = 1;
          var newProduct = 'Product'+(productCount+1)+':<input type="hidden" name="productTitle[]" value="product'+(productCount+1)+'"><input type="text" placeholder="Product Name" data-id="'+productCount+'" name="productName['+productCount+']"/><table id="addedRows'+productCount+'" border="1"><tbody><tr><th><input type="text" name="attributeName['+productCount+']" placeholder="Attribute Title"/></th></tr><tr><td><input type="text" name="attributeValue['+productCount+'][0]" placeholder="Attribute Value"/></td></tr></tbody></table>';
          newProduct += '<button id="addColumn" productId="'+productCount+'" type="button">Click to add Column</button><button id="addRow" productId="'+productCount+'" type="button">Click to add Rows</button><br/>';
          $('#products').append(newProduct);
          productCount++;
          
          //redefine button clicks
          $('button#addColumn').click(function(){
            var productId = $(this).attr('productId');
            $('#addedRows'+productId+' tr:first').append('<th><input type="text" name="attributeName['+productId+']" placeholder="Attribute Title"></th>');
            $('#addedRows'+productId+' tr:not(:first-child)').append('<td><input type="text" name="attributeValue['+productId+']['+thisAttributeCount+']" placeholder="Attribute Value"></td>');
            thisAttributeCount++;
          });
          $('button#addRow').click(function(){
            var productId = $(this).attr('productId');
            $('#addedRows'+productId+' tr:first').next('tr').clone().appendTo('#addedRows'+productId+' tbody');
          });
          
        })
      });
      $('button#addRow').click(function(){
        var productId = $(this).attr('productId');
        console.log(productId);
        $('#addedRows'+productId+' tr:first').next('tr').clone().appendTo('#addedRows tbody');
      });
